
moneyiOS/moneyiOS.xcworkspace/xcuserdata/wangjam.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

*.xcscheme

moneyiOS/build/moneyiOS.build/Release-iphoneos/moneyiOS.build/dgph

*.hmap
moneyiOS/build/*

moneyiOS/moneyiOS.xcodeproj/xcuserdata/wangjam.xcuserdatad/xcschemes/xcschememanagement.plist

moneyiOS/Pods/Pods.xcodeproj/xcuserdata/wangjam.xcuserdatad/xcschemes/xcschememanagement.plist

*.ipa

moneyiOS/nohup.out

moneyiOS/deploy/.a.txt.swp

moneyiOS/deploy/a.txt

moneyiOS/deploy/.cache/api.github.com,repos,cfetslab,money,issues,1,9acef3663822507a918ab48ffc418d10

moneyiOS/deploy/gitLog.txt
