
moneyiOS/moneyiOS.xcworkspace/xcuserdata/wangjam.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

*.xcscheme

moneyiOS/build/moneyiOS.build/Release-iphoneos/moneyiOS.build/dgph

*.hmap
moneyiOS/build/*
